{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Inpec</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="shortcut icon" href="{% static 'assets/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="{% static 'js\tabla.js' %}"></script>
  </head>

  <body>
    <!-- SideBar -->
    <section class="full-box cover dashboard-sideBar">
      <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
      <div class="full-box dashboard-sideBar-ct">
        <!--SideBar Title -->
        <div
          class="full-box text-uppercase text-center text-titles dashboard-sideBar-title"
        >
          INPEC <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
        </div>
        <!-- SideBar User info -->
        <div class="full-box dashboard-sideBar-UserInfo">
          <figure class="full-box">
            <img src="{% static 'assets/img/logo.png' %}" alt="UserIcon" />
          </figure>
          <ul class="full-box list-unstyled text-center">
            <li>
              <i>Usuario actual: {{user.username}}</i>
            </li>
              <li>
                <a href="{% url 'cerrar' %}">
                  <i>cerrar sesion</i>
                </a>
              </li>
              <a href="#!" class="btn-exit-system">
                <i class="zmdi zmdi-power"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- SideBar Menu -->
        <ul class="list-unstyled full-box dashboard-sideBar-Menu">
          <li>
            <a href="{% url '' %}">
              <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
            </a>
          </li>
          {% comment %} <li>
            <a href="{% url 'vista_asignar' %}">
              <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Asignar actividades
            </a>

          </li> {% endcomment %}

          <li>
            <a class="btn-sideBar-SubMenu">
              <i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Historiales
              <i class="zmdi zmdi-caret-down pull-right"></i>
            </a>
            <ul class="list-unstyled full-box">

              <li>
                <a href="{% url 'historialactividades' %}"
                  ><i class="zmdi zmdi-male-female zmdi-hc-fw"></i> Historial de
                  actividades</a
                >
              </li>
              <li>
                <a href="{% url 'historialubicaciones' %}"><i class="zmdi zmdi-face zmdi-hc-fw"></i> Historial de ubicaciones</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="btn-sideBar-SubMenu">
              <i class="zmdi zmdi-account-add zmdi-hc-fw"></i>Consultar Cupos
              <i class="zmdi zmdi-caret-down pull-right"></i>
            </a>
            <ul class="list-unstyled full-box">
              <li>
                <a href="{% url 'cuposxcelda' %}">
                  <i class="zmdi zmdi-hotel"></i> Cupos por patio
                </a>
              </li>
              <li>
                <a href="{% url 'cuposxactividad' %}">
                  <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> cupos por actividad
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="btn-sideBar-SubMenu">
              <i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Reportes
              <i class="zmdi zmdi-caret-down pull-right"></i>
            </a>
            <ul class="list-unstyled full-box">
              <li>
                <a href="{% url 'mostrarppl' %}"
                  ><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i>PPL</a
                >
              </li>
              <li>
                <a href="{% url 'pplxactividad' %}">
                  <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i>PPL por actividad
                </a>
              </li>
              <li>
                <a href="{% url 'pplxpatio' %}">
                  <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> ppl por patio
                </a>
              </li>

              <li>
                <a href="{% url 'resumenxubicacion' %}">
                  <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i>Resumen por ubicacion
                </a>
              </li>

              <li>
                <a href="{% url 'resumenactividad' %}">
                  <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i>Resumen actividades
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>

    <!-- Content page-->
    <section class="full-box dashboard-contentPage">
      <!-- NavBar -->
      <nav class="full-box dashboard-Navbar">
        <ul class="full-box list-unstyled text-right">
          <li class="pull-left">
            <a href="#!" class="btn-menu-dashboard"
              ><i class="zmdi zmdi-more-vert"></i
            ></a>
          </li>
        </ul>
      </nav>
      <!-- Content page -->

      {% block content %} {%endblock %}
    </section>

    <!-- Notifications area -->
    <section class="full-box Notifications-area">
      <div class="full-box Notifications-bg btn-Notifications-area"></div>
      <div class="full-box Notifications-body">
        <div class="Notifications-body-title text-titles text-center">
          Notifications <i class="zmdi zmdi-close btn-Notifications-area"></i>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="zmdi zmdi-alert-triangle"></i>
            </div>
            <div class="row-content">
              <div class="least-content">17m</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">
                Donec id elit non mi porta gravida at eget metus.
              </p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="zmdi zmdi-alert-octagon"></i>
            </div>
            <div class="row-content">
              <div class="least-content">15m</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">
                Donec id elit non mi porta gravida at eget metus.
              </p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="zmdi zmdi-help"></i>
            </div>
            <div class="row-content">
              <div class="least-content">10m</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">
                Maecenas sed diam eget risus varius blandit.
              </p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="zmdi zmdi-info"></i>
            </div>
            <div class="row-content">
              <div class="least-content">8m</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">
                Maecenas sed diam eget risus varius blandit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== Scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/sweetalert2.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/material.min.js' %}"></script>
    <script src="{% static 'js/ripples.min.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% comment %} <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script> {% endcomment %}
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    {% comment %} <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"
      integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u"
      crossorigin="anonymous"
    ></script> {% endcomment %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    {% comment %} <script>
      $.material.init();
    </script> {% endcomment %}
    {% block jquery %}
    {% endblock jquery %}
  </body>
</html>
